.card__container{
	position: relative;
	width: 350px;
	height: 500px;
	display: flex;
	margin-top: 10px;
	overflow: hidden;
}

.card-img {
	min-width: 100%;
	min-height: 100%;
	transition: transform .8s;
	-webkit-box-shadow: -7px 7px 23px -1px rgba(0,0,0,0.4);
	-moz-box-shadow: -7px 7px 23px -1px rgba(0,0,0,0.4);
	box-shadow: -7px 7px 23px -1px rgba(0,0,0,0.4);
}

.card-img:hover {
	transform: scale(1.1);
}
