<div class="home__container">
	<app-card
		gameCover="assets/rdr2.jpeg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="US$ 59,99"
	></app-card>
	<app-card
		gameCover="assets/spider.avif"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS5"
		gamePrice="US$ 79,99"
	></app-card>
	<app-card
		gameCover="assets/acv.avif"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="US$ 69,99"
	></app-card>
	<app-card
		gameCover="assets/elden.webp"
		gameLabel="NEW"
		gameType="DIGITAL | PS5"
		gamePrice="US$ 79,99"
	></app-card>
	<app-card
		gameCover="assets/hfw.webp"
		gameLabel="BETA"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="US$ 59,99"
	></app-card>
	<app-card
		gameCover="assets/got.jpeg"
		gameLabel="SALE"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="US$ 39,00"
	></app-card>

</div>
